name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        run: sudo apt install openssl libssl-dev valgrind

      - name: Configure
        run: |
          cmake -B build

      - name: Build
        run: |
          cmake --build build

      - name: Test sha256
        run: |
          valgrind --error-exitcode=42 --leak-check=full ./build/sha256 CMakeLists.txt
      
      - name: Test create_test_pki
        run: |
          valgrind --error-exitcode=42 --leak-check=full ./build/create_test_pki

      - name: Test self-signed
        run: |
          valgrind --error-exitcode=42 --leak-check=full ./build/self_signed

      - name: Test create CSR
        run: |
          valgrind --error-exitcode=42 --leak-check=full ./build/create_csr \
            -f donny.csr -k donny.key -c Donny

      - name: Test sign CSR
        run: |
          valgrind --error-exitcode=42 --leak-check=full  ./build/sign_csr \
            -f donny.pem -c donny.csr \
            -i ./test-pki/signing_ca/signing_ca.pem  \
            -k ./test-pki/signing_ca/signing_ca.key 

      - name: Test create CRL
        run: |
          valgrind --error-exitcode=42 --leak-check=full  ./build/create_crl \
            -f donny.crl -c donny.pem \
            -i ./test-pki/signing_ca/signing_ca.pem  \
            -k ./test-pki/signing_ca/signing_ca.key 

      - name: Test verify certificate
        run: |
          valgrind --error-exitcode=42 --leak-check=full  ./build/verify_cert \
            -t ./test-pki/root_ca/root_ca.pem \
            -u ./test-pki/signing_ca/signing_ca.pem  \
            -c donny.pem            

      - name: Test sign using CMS
        run: |
          echo 42 > data
          valgrind --error-exitcode=42 --leak-check=full  ./build/cms_sign \
            -f data -s donny.pem -k donny.key
          
      - name: Test verify using CMS
        run: |
          valgrind --error-exitcode=42 --leak-check=full  ./build/cms_verify \
            -f data -t ./test-pki/root_ca/root_ca.pem \
            -t ./test-pki/signing_ca/signing_ca.pem 
  